PORT = 5000
MONGO_URI = mongodb+srv://adieventora:adimongo@cluster0.u3hv3zp.mongodb.net/eventora?appName=Cluster0
EMAIL_USER = a47864683@gmail.com
EMAIL_PASS = qeslbynfgdccxfpc
JWT_SECRET = vshbhdbhbhdbhjbcqkj